
<!-- One -->
  <section id="one" class="spotlight style1 bottom">
    <span class="image fit main"><img src="{{ site.url }}{{ site.baseurl }}{{ site.data.section1.bg_url }}" alt="" /></span>
    <div class="content">
      <div class="container">
        <div class="row">
          {% capture strHeader %}{{site.data.section1.header}}{% endcapture %}
          {% capture strTagline %}{{site.data.section1.tagline}}{% endcapture %}
          {% assign colsize = '6u' %}
          {% if strHeader != '' or strTagline !='' %}
            {% assign colsize = '4u' %}
          <div class="{{colsize}} 12u$(medium)">
            <header>
              <h2>{{strHeader}}</h2>
              <p>{{strTagline}}</p>
            </header>
          </div>
          {% endif %}
          <div class="{{colsize}} 12u$(medium)">
            <p>{{ site.data.section1.para_left }}</p>
          </div>
          <div class="{{colsize}} 12u$(medium)">
            <p>{{ site.data.section1.para_right }}</p>
          </div>
        </div>
      </div>
    </div>
    <a href="#aboutus" class="goto-next scrolly">Next</a>
  </section>
