
<!-- One -->
  <section id="one" class="spotlight style1 bottom">
    <span class="image fit main"><img src="{{ site.url }}{{ site.baseurl }}{{ site.data.section1.bg_url }}" alt="" /></span>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="4u 12u$(medium)">
            <header>
              <h2>{{ site.data.section1.header }}</h2>
              <p>{{ site.data.section1.tagline }}</p>
            </header>
          </div>
          <div class="4u 12u$(medium)">
            <p>{{ site.data.section1.para_left }}</p>
          </div>
          <div class="4u$ 12u$(medium)">
            <p>{{ site.data.section1.para_right }}</p>
          </div>
        </div>
      </div>
    </div>
    <a href="#two" class="goto-next scrolly">Next</a>
  </section>
