
<!-- Three -->
  <section id="three" class="spotlight style3 left">
    <span class="image fit main bottom"><img src="{{ site.url }}{{ site.baseurl }}{{ site.data.section3.bg_url }}" alt="" /></span>
    <div class="content">
      <header>
        <h2>{{ site.data.section3.header }}</h2>
        <p>{{ site.data.section3.tagline }}</p>
      </header>
      <p>{{ site.data.section3.para }}</p>
      {% if site.data.section3.button.show %}
      <ul class="actions">
        {% capture button_url %} {{ site.url }}{{ site.baseurl }}/{{site.data.section3.button.url}} {% endcapture %}
        {% if button_url contains 'http' %}{% assign button_url = site.data.section3.button.url %}{% endif %}
        <li><a href="{{ button_url }}" class="button">{{ site.data.section3.button.text }}</a></li>
      </ul>
      {% endif %}
    </div>
    <a href="#four" class="goto-next scrolly">Next</a>
  </section>
