
<!-- Three -->
  <section id="menu" class="spotlight style3 left">
    <span class="image fit main bottom"><img src="{{ site.url }}{{ site.baseurl }}{{ site.data.section_menu.bg_url }}" alt="" /></span>
    <div class="content">
      <header>
        <h2>{{ site.data.section_menu.header }}</h2>
        <p>{{ site.data.section_menu.tagline }}</p>
      </header>
      <p>{{ site.data.section_menu.para }}</p>
      {% if site.data.section_menu.button.show %}
      <ul class="actions">
        {% capture button_url %} {{ site.url }}{{ site.baseurl }}/{{site.data.section_menu.button.url}} {% endcapture %}
        {% if button_url contains 'http' %}{% assign button_url = site.data.section_menu.button.url %}{% endif %}
        {% capture button_fa %}{% endcapture %}
        <li><a href="{{ button_url }}" class="button special icon fa-cutlery">{{ site.data.section_menu.button.text }}</a></li>
      </ul>
      {% endif %}
    </div>
    <a href="#banner_basic" class="goto-top scrolly" title="Home">Home</a>
    <a href="#pic2" class="goto-next scrolly">Next</a>
  </section>
