
<!-- One -->
  <section id="intro" class="spotlight style1 bottom">
    <span class="image fit main hide-for-small"><img src="{{ site.url }}{{ site.baseurl }}{{ site.data.section_intro.bg_url }}" alt="" /></span>
    <div class="content">
      <div class="container">
        <div class="row">
          {% capture strHeader %}{{site.data.section_intro.header}}{% endcapture %}
          {% capture strTagline %}{{site.data.section_intro.tagline}}{% endcapture %}
          {% assign colsize = '6u' %}
          {% if strHeader != '' or strTagline !='' %}
            {% assign colsize = '4u' %}
          <div class="{{colsize}} 12u$(medium)">
            <header>
              <h2>{{strHeader}}</h2>
              <p>{{strTagline}}</p>
            </header>
          </div>
          {% endif %}
          <div class="{{colsize}} 12u$(medium)">
            <p class="text_right">{{ site.data.section_intro.para_left }}</p>
          </div>
          <div class="{{colsize}} 12u$(medium)">
            <p class="text_left">{{ site.data.section_intro.para_right }}</p>
          </div>
        </div>
      </div>
    </div>
    <a href="#banner_basic" class="goto-top scrolly" title="Home">Home</a>
    <a href="#aboutus" class="goto-next scrolly">Next</a>
  </section>
