
<!--footer-->
<footer id="footer">
	<ul class="icons">
		{% for social in site.data.social %}
		<li><a href="{{social.url}}" class="icon alt {{social.fa}}"><span class="label">{{social.title}}</span></a></li>
		{% endfor %}

		{% comment %}
		<li><a href="{{ site.url }}{{ site.baseurl }}/#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
		{% endcomment %}
	</ul>
	<ul class="copyright">
		<li>{{site.copyright}}</li><li>Design: {{site.designby}}</li>
	</ul>
</footer>
