
<!--header-->
<header id="header">
	<h1 id="logo"><a href="{{ site.url }}{{ site.baseurl }}/index.html">{{site.menu_topright_title}}</a></h1>
	<nav id="nav">
		<ul>
			{% for link in site.data.nav.menu %}
				{% if link.show %}
					{% capture link_url %}{{ site.url }}{{ site.baseurl }}{{link.url}} {% endcapture %}
	        {% if link_url contains 'http' %}{% assign link_url = link.url %}{% endif %}
					<li><a href="{{link_url}}">{{ link.title}}</a>

					{% if link.dropdown %}
						<!-- First level dropdown -->
						<ul>
							{% for alink in link.dropdown %}
								{% capture alink_url %}{{ site.url }}{{ site.baseurl }}{{alink.url}} {% endcapture %}
				        {% if alink_url contains 'http' %}{% assign alink_url = alink.url %}{% endif %}
							<li><a href="{{alink_url}}">{{alink.title}}</a>

								{% if alink.dropdown %}
									<!-- Second level dropdown -->
									<ul>
										{% for blink in alink.dropdown %}
											{% capture blink_url %}{{ site.url }}{{ site.baseurl }}{{blink.url}} {% endcapture %}
							        {% if blink_url contains 'http' %}{% assign blink_url = blink.url %}{% endif %}
											<li><a href="{{blink_url}}">{{blink.title}}</a></li>
										{% endfor %}
									</ul>
								</li>
								{% else %}
							</li>
								{% endif %}
							{% endfor %}
						</ul>
					</li>
					{% else %}
					</li>
					{% endif %}
				{% else %}
					<!-- Write no links -->
				{% endif %}
			{% endfor %}

			{% if site.data.nav.button.show %}
			{% capture button_url %} {{ site.url }}{{ site.baseurl }}/{{site.data.nav.button.url}} {% endcapture %}
			{% if button_url contains 'http' %}{% assign button_url = site.data.nav.button.url %}{% endif %}
			<li><a href="{{ button_url }}" class="button special icon {{site.data.nav.button.fa_icon}}">{{ site.data.nav.button.text }}</a></li>
			{% endif %}

			{% if site.data.nav.social.show %}
			{% for social in site.data.nav.social.list %}
			<li><a href="{{social.url}}" class="icon alt {{social.fa}}"><span class="label">{{social.title}}</span></a></li>
			{% endfor %}
			{% endif %}
		</ul>
	</nav>
</header>
